# Django
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# Database
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DB_NAME

# Redis
REDIS_URL=redis://HOST:6379/0

# Celery
CELERY_BROKER_URL=redis://HOST:6379/0
CELERY_RESULT_BACKEND=redis://HOST:6379/0