# Core
django>=5.0,<6.0
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
django-filter>=24.0
django-environ>=0.11
psycopg2-binary>=2.9
celery>=5.3
redis>=5.0

# Dev & testing
pytest-django>=4.8
pytest-factoryboy>=2.7
factory-boy>=3.3
ipython>=8.0
django-debug-toolbar>=4.3

# Production
gunicorn>=22.0
sentry-sdk>=2.0